*{
    margin: 0;
    padding: 0;
}
.container-right .title {
    text-align: center;
    padding: 30px
}
.container-right .date {
    color: rgb(15, 189, 114);
    text-align: center;
    padding-bottom: 20px;
}
.container-right .content p {
    text-indent: 2em;
    padding: 10px 30px;
}
